# macOS Systemdateien
.DS_Store
.AppleDouble
.LSOverride



# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd


# ❌ Ignoriere große Model- und Lösungsdateien
*.lp
*.mps
*.sol
*.sav
*.json.sol

# ❌ Ignoriere temporäre Dateien
*.log
*.tmp
*.bak
*.swp
*.DS_Store

# ❌ Python-Umgebungen
__pycache__/
*.py[cod]
*.pyo
.env
.venv
.conda

# ❌ IDE-spezifisch (VSCode, PyCharm, etc.)
.vscode/
.idea/

# ❌ Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# ❌ Sonstiges
*.old

# Ignoriere alle Dateien in Solutions
Data/Solutions/*
Data/Solutions/AnzahlAuftraege_NEW_10/a10_o107_m5_an57_ar12/04-23/TPSA/run_times.json
Data/Solutions/AnzahlAuftraege_NEW_10/a10_o107_m5_an57_ar12/04-23/TPSA/ParetoFront.csv
Data/Solutions/AnzahlAuftraege_NEW_10/a10_o107_m5_an57_ar12/04-23/TPSA/pareto_metrics.csv
Data/Solutions/AnzahlAuftraege_NEW_10/a10_o107_m5_an57_ar12/04-23/PSA/run_times.json
Data/Solutions/AnzahlAuftraege_NEW_10/a10_o107_m5_an57_ar12/04-23/PSA/pareto_metrics.csv
Data/Solutions/AnzahlAuftraege_NEW_10/a10_o107_m5_an57_ar12/04-23/DBSA/run_times.json
Data/Solutions/AnzahlAuftraege_NEW_10/a10_o107_m5_an57_ar12/04-23/DBSA/ParetoFront.csv
Data/Solutions/AnzahlAuftraege_NEW_10/a10_o107_m5_an57_ar12/04-23/DBSA/pareto_metrics.csv
Data/Solutions/AnzahlAuftraege_NEW_10/a10_o107_m5_an57_ar12/04-23/PSA/run_times.json
Data/Solutions/AnzahlAuftraege_NEW_10/a10_o107_m5_an57_ar12/04-23/PSA/run_times.json
